<!-- Header -->
<header class="header">
    <div class="container vh-50">
        <!-- Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <img src="./images/icons/logotipo.png" class="logo" alt="Main logo">
                <a class="navbar-brand px-1" href="#">Game Zone</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Juegos">Juegos</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#Explora" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Explora
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#Explora">Juegos de</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#Explora">Accion</a></li>
                                <li><a class="dropdown-item" href="#Explora">Aventuras</a></li>
                                <li><a class="dropdown-item" href="#Explora">Carreras</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#Servicios">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Contacto">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--Description-->
        <div class="row h-100 align-items-center">
            <div class="col-md--10 col-lg-6 text-white">
                <!-- Titulo -->
                <h1 class="text-capitalize">
                    <span class="text-warning h3"> este mes </span> <br> en game zone
                </h1>
                <!-- Parrafo -->
                <p class="d-none d-md-block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta enim
                    nesciunt,
                    nisi beatae eius quia
                    iusto nemo incidunt atque accusantium tempore commodi?</p>
                <!-- Boton -->
                <a href="#" class="text-reset btn btn-warning">Ver Mas</a>
            </div>
        </div>
    </div>
    <img src="./images/cuts/cut-header.svg" alt="divisor de sectores">
</header>

<!-- Juegos -->
<section class="container" id="Juegos">
    <div class="row justify-content-md-center">
        <!-- Textos-->
        <div class="col-12 text-center">
            <h2 class="text-warning text-uppercase h4">Juegos</h2>
            <h3>Profundiza en los grandes estrenos de este mes con un gran abanico de guías, colecciones de juegos y
                características especiales.</h3>
            <p class="text-muted">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate dolorum magni, esse voluptas
                corrupti sed
                dolorem ea dignissimos excepturi quis et voluptatum molestias mollitia modi consequuntur autem odio
                fugiat
                veniam.
            </p>
        </div>
        <!-- Tarjetas -->
        <!-- Tarjeta #1-->
        <article class="col-md-6 col-lg-4 card-effect mb-3 mb-md-0">
            <div class="card">
                <img src="./images/spider-man.jpg" alt="spider-man" class="card-img card-img-filter">
                <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
                    <h4>Marvel's Spider-Man: Miles Morales</h4>
                    <p>Experimenta el apogeo de Miles Morales a medida que domina los nuevos poderes explosivos e
                        increíbles para convertirse en su propio Spider-Man.</p>
                    <a href="#" class="text-reset">Leer Mas</a>
                </div>
            </div>
        </article>
        <article class="col-md-6 col-lg-4 card-effect mb-3 mb-md-0">
            <div class="card">
                <img src="./images/uncharted.jpg" alt="uncharted" class="card-img card-img-filter">
                <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
                    <h4>UNCHARTED™: Legacy of Thieves Collection</h4>
                    <p>Juega como Nathan Drake y Chloe Frazer en sus propias aventuras individuales en las que se ven
                        obligados
                        a enfrentar sus pasados y forjar sus propios legados.</p>
                    <a href="#" class="text-reset">Leer Mas</a>
                </div>
            </div>
        </article>
        <article class="col-md-6 col-lg-4 card-effect mt-md-4 mt-lg-0">
            <div class="card">
                <img src="./images/MLBgame.jpg" alt="baseball" class="card-img card-img-filter">
                <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
                    <h4>MLB® The Show™ 22</h4>
                    <p>Crea el equipo perfecto, reúne a tus amigos para ver quién es el campeón del sofá u online o pasa
                        una
                        tarde acumulando jonrones</p>
                    <a href="#" class="text-reset">Leer Mas</a>
                </div>
            </div>
        </article>
    </div>
</section>

<!-- Comentarios -->
<section class="comments mb-5">
    <img src="./images/cuts/cut-header.svg" alt="" class="transform-turn">
    <div class="container">
        <div class="row">
            <blockquote class="col-12 text-white text-center">
                <!-- IMG -->
                <img src="./images/john-doe.jpeg" alt="Jhon Doe" class="comments__img">
                <!-- Comments -->
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi corrupti numquam quisquam ipsa?
                    Hic,
                    corporis.
                </p>
                <!-- Nombre -->
                <footer class="blockquote-footer text-white">
                    <cite>Jhon Doe</cite>
                </footer>
            </blockquote>
        </div>
    </div>
</section>

<!-- Explora -->
<section class="container mb-5" id="Explora">
    <div class="row">
        <!-- Titulo -->
        <div class="col-12 text-center mb-5">
            <h3 class="text-warning text-uppercase h3">Explora</h3>
            <h2> Descubre los secretos y desafios que esconde cada uno de los juegos. </h2>
        </div>
        <!-- Media Object #1 -->
        <ul class="col-12 col-md-6">
            <li class="d-flex">
                <img src="./images/spark1.jpg" alt="Smash_Bros" class="media-object-img">
                <div class="media-body">
                    <h5 class="h6 mb-0 mb-1">Subtitulo</h5>
                    <h4 class="h5">
                        <a href="#" class="text-reset">Super Smash Bros. Ultimate</a>
                    </h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis ullam hic amet.</p>
                </div>
            </li>
            <li class="d-flex">
                <img src="./images/spark2.jpg" alt="SuperMario3DWorld" class="media-object-img">
                <div class="media-body">
                    <h5 class="h6 mb-0 mb-1">Subtitulo</h5>
                    <h4 class="h5">
                        <a href="#" class="text-reset">Super Mario 3D World</a>
                    </h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis ullam hic amet.</p>
                </div>
            </li>
            <li class="d-flex">
                <img src="./images/spark3.jpg" alt="Zelda" class="media-object-img">
                <div class="media-body">
                    <h5 class="h6 mb-0 mb-1">Subtitulo</h5>
                    <h4 class="h5">
                        <a href="#" class="text-reset">The Legend of Zelda: Breath of the Wild</a>
                    </h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis ullam hic amet.</p>
                </div>
            </li>
        </ul>
        <!-- Media Object #2 -->
        <ul class="col-12 col-md-6">
            <li class="d-flex">
                <img src="./images/spark4.jpg" alt="Mortal Kombat 11" class="media-object-img">
                <div class="media-body">
                    <h5 class="h6 mb-0 mb-1">Subtitulo</h5>
                    <h4 class="h5">
                        <a href="#" class="text-reset">Mortal Kombat 11</a>
                    </h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis ullam hic amet.</p>
                </div>
            </li>
            <li class="d-flex">
                <img src="./images/spark5.jpg" alt="Hollow" class="media-object-img">
                <div class="media-body">
                    <h5 class="h6 mb-0 mb-1">Subtitulo</h5>
                    <h4 class="h5">
                        <a href="#" class="text-reset">Hollow Knight</a>
                    </h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis ullam hic amet.</p>
                </div>
            </li>
            <li class="d-flex">
                <img src="./images/spark6.jpg" alt="LEGO" class="media-object-img">
                <div class="media-body">
                    <h5 class="h6 mb-0 mb-1">Subtitulo</h5>
                    <h4 class="h5">
                        <a href="#" class="text-reset">LEGO® Marvel™ Super Heroes</a>
                    </h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis ullam hic amet.</p>
                </div>
            </li>
        </ul>

    </div>
</section>

<!-- Carousel -->

<section class="carousel mb-5">
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/parte1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/images/parte2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/images/parte3.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</section>
<!-- Features -->
<section class="container mb-5" id="Servicios">
    <div class="row">
        <!-- Title-->
        <h2 class="col-12 text-center">
            <span class="text-warning h3 text-uppercase">Servicios</span> <br />
            <span class="text-capitalize h3">¿Cómo podemos ayudarte?</span>
        </h2>

        <!-- Primera Descripcion -->
        <p class="col-12 col-md-6">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam accusantium enim eligendi minima provident
            mollitia suscipit quaerat, labore, quia dignissimos nobis incidunt qui consectetur odit aut quibusdam ullam
            repellat architecto.
        </p>
        <!-- Segunda Descripcion -->
        <p class="col-12 col-md-6">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam mollitia nihil itaque voluptatibus,
            numquam
            dolor minima unde error ipsum nemo hic sit quod quam placeat quaerat animi. Cum, rerum repudiandae?
        </p>

    </div>
</section>

<!-- Preguntas -->
<section class="service section">
    <div class="container">
        <div class="row">
            <!-- ==== Services item Start ====-->
            <div class="service-item padd-15">
                <div class="service-item-inner">
                    <div class="icon">
                        <i class="fa fa-mobile-alt"></i>
                    </div>
                    <h4>Verificacion en dos pasos (2SV)</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam nesciunt vero
                        aperiam.</p>
                </div>
            </div>
            <!-- ==== Services item End ====-->
            <!-- ==== Services item Start ====-->
            <div class="service-item padd-15">
                <div class="service-item-inner">
                    <div class="icon">
                        <i class="fa fa-laptop-code"></i>
                    </div>
                    <h4>Administracion de Cuentas</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam nesciunt vero
                        aperiam.</p>
                </div>
            </div>
            <!-- ==== Services item End ====-->
            <!-- ==== Services item Start ====-->
            <div class="service-item padd-15">
                <div class="service-item-inner">
                    <div class="icon">
                        <i class="fa fa-palette"></i>
                    </div>
                    <h4>Personalizar perfil de usuario</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam nesciunt vero
                        aperiam.</p>
                </div>
            </div>
            <!-- ==== Services item End ====-->
            <!-- ==== Services item Start ====-->
            <div class="service-item padd-15">
                <div class="service-item-inner">
                    <div class="icon">
                        <i class="fa fa-code"></i>
                    </div>
                    <h4>Ajustes de Privacidad</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam nesciunt vero
                        aperiam.</p>
                </div>
            </div>
            <!-- ==== Services item End ====-->
            <!-- ==== Services item Start ====-->
            <div class="service-item padd-15">
                <div class="service-item-inner">
                    <div class="icon">
                        <i class="fa fa-search"></i>
                    </div>
                    <h4>Inicio de Sesión y contraseña</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam nesciunt vero
                        aperiam.</p>
                </div>
            </div>
            <!-- ==== Services item End ====-->
            <!-- ==== Services item Start ====-->
            <div class="service-item padd-15">
                <div class="service-item-inner">
                    <div class="icon">
                        <i class="fa fa-bullhorn"></i>
                    </div>
                    <h4>Control Parental</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam nesciunt vero
                        aperiam.</p>
                </div>
            </div>
            <!-- ==== Services item End ====-->
        </div>
    </div>
</section>

<!-- Contactos -->
<section class="container mb-5" id="Contacto">
    <h2 class="col-12 text-center">
        <span class="text-warning h3 text-uppercase">Contacto</span> <br />
    </h2>
    <div class="form">
        <form action="/" method="post">
            <input type="text" name="nombre" placeholder="Nombre">
            <input type="text" name="apellido" placeholder="Apellido">
            <input type="text" name="correo" placeholder="Correo Electronico">
            <textarea name="mensaje" placeholder="Escriba aqui su mensaje"></textarea>
            <button type="submit" class="btn btn primary" id="boton">ENVIAR</button>
        </form>
        {{#if message}}
            {{message }}
        {{/if}}
    </div>
</section>
<!-- Fin de Contactos -->

<!-- Footer -->
<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1 redes" href="#!" role="button"><i
                    class="fab fa-facebook-f"></i></a>

            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1 redes" href="#!" role="button"><i
                    class="fab fa-twitter"></i></a>

            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1 redes" href="#!" role="button"><i
                    class="fab fa-google"></i></a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1 redes" href="#!" role="button"><i
                    class="fab fa-instagram"></i></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1 redes" href="#!" role="button"><i
                    class="fab fa-linkedin-in"></i></a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1 redes" href="#!" role="button"><i
                    class="fab fa-github"></i></a>
        </section>
        <!-- Section: Social media -->

        <!-- Section: Form -->
        <section class="">
            <form action="/" method="post">
                <!--Grid row-->
                <div class="row d-flex justify-content-center">
                    <!--Grid column-->
                    <div class="col-auto">
                        <p class="pt-2">
                            <strong>Suscribirse a nuestro boletin</strong>
                        </p>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-5 col-12">
                        <!-- Email input -->
                        <div class="form-outline form-white mb-4">
                            <input type="email" id="form5Example21" class="form-control" placeholder="Email Address" />
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-auto">
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-outline-light mb-4">
                            Subscribe
                        </button>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </form>
        </section>
        <!-- Section: Form -->

        <!-- Section: Text -->
        <section class="mb-4">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
                repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
                eum harum corrupti dicta, aliquam sequi voluptate quas.
            </p>
        </section>
        <!-- Section: Text -->

        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Link 1</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 2</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 3</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 4</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Link 1</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 2</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 3</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 4</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Link 1</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 2</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 3</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 4</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Link 1</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 2</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 3</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 4</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white" href="http://127.0.0.1:5500/index.html">Gamezone.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->